<p class="text-success">
	{{name}}

	<button class="change-sleep btn-lg btn-info" data-id="{{burger_id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Ready to Eat!{{/if}}
	</button>

	<button class="delete-cat btn-lg btn-danger" data-id="{{this.burger_id}}">These burgers have been eaten!</button>
</p>
