<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css">
		
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />

		<title>Eat-Duh-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/javascript/burgerButton.js"></script>
	</head>
	<body>
		<header class="text-center">
			<h1>Eat-Duh-Burger</h1>
		</header>
		<div class="container">
			<div class="text-center">
				<img src="/assets/img/burger.png" height="250" width="285">
			</div><br><br>
		<div class="col-md-2"></div>
		{{{ body }}}
		<hr>
		</div>
		<div class="row text-center">
			<footer class="text_center">
				<h5><strong>Robert Rollner 2017</strong></h5>
				<i class="fa fa-universal-access fa fa-spinner fa-spin" aria-hidden="true"></i>			
			</footer><br>
		</div>
	</body>
</html>
