<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">
		<title>Eat-Duh-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
