<div class="text-center">
  <img class="" src='../public/assets/img/burger.png'>
  {{!-- hopefully creating left side of DOM --}}
  <div class="row">
    <div class="col-md-6" id="readyToEat">
      <ul class="list-group-item">
        {{#each burgers}}
          {{#unless devoured}}
            {{!-- {{> burgers/burger-block devoured=true}} --}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    {{!-- right side eaten burgers--}}
    <div class="col-md-6" id="eaten">
      <ul class="list-group-item">
        {{#each burgers}}
          {{#if devoured}}
            {{!-- {{> burgers/burger-block devoured=false}} --}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- button --}}
  <div class="row">
    <h2 class="text-center">Order a burger!</h2>
      <input id="newBurger" class="form-control" type="text"><hr>
        <button id="newBurgerBtn" class="btn btn-default btn-lg btn-block">Order</button>
  </div>
</div>